body {
  text-align: center;
  font-family: "Roboto";
  background-color: #ffc0c0;
}

.container {
  display: flex;
  flex-direction: row;
}

nav ul {
  list-style-type: none;
  text-align: left;
}

nav li {
  display: inline-block;
  padding: 1em;
  background-color: #dd7e7e;
  border-radius: 15px;
  margin: 1em;
  height: 100%;
}

nav li:hover {
  background-color: #c596a0;
  transform: scale(95%);
}


img {
  max-width: 90%;
}

.profile {
  border: 5px solid black;
  margin: 1em;
}

.profile p {
  text-align: left;
  margin: 1em;
}